# Core ML / DL
torch
torchvision
torchaudio
ultralytics
opencv-python
numpy
pandas
matplotlib
seaborn
scikit-learn



# Utils
pyyaml
tqdm
requests
pillow

# Dev tools
pytest
black
isort
flake8
jupyter
